<h5>Properties</h5>
<table class="table table-striped table-bordered table-hover mb-4">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Column Name</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @for (var c = 0; c < Model?.Columns.Count; c++)
        {
            var column = Model.Columns[c];

            <tr>
                <th scope="row">@(c + 1)</th>
                <td class="d-flex align-items-center gap-2">
                    <span>@column.ColumnName</span>
                    @if (column.IsPrimaryKey)
                    {
                        <i class="fas fa-key text-warning"
                            title="@column.ColumnName is part of the @(string.Join(", ", column.PrimaryKeys)) Primary Key(s) for @column.TableName"></i>
                    }
                    @if (column.IsForeignKey)
                    {
                        <i class="fas fa-link text-danger"
                            title="@column.ColumnName is part of the @(string.Join(", ", column.ForeignKeys)) Foreign Key(s) for @column.TableName"></i>
                    }
                    @if (column.IsUniqueKey)
                    {
                        <i class="fas fa-fingerprint text-muted"
                            title="@column.ColumnName is part of the @(string.Join(", ", column.UniqueKeys)) Unique Key(s)/Indexes for @column.TableName"></i>
                    }
                </td>
                <td>
                    @column.Type.GetNameForCoding()
                    <span class="text-secondary">
                        <small>
                            @column.DataType
                            @if (column.MaxLength > 0)
                            {
                                <text>(@column.MaxLength)</text>
                            }
                        </small>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5 class="d-flex align-items-center gap-2">
    <code id="@modelId-data-model-name">
        @($"{Model?.DataModelName}.cs")
    </code>
    <CopyButton ID="@($"{modelId}-data-model-name")" Text="Copy Name" />
</h5>

<pre><code id="@modelId-data-model-code">@DataModelGenerator.GenerateDataModelFromTable(Model)</code></pre>
<CopyButton ID="@($"{modelId}-data-model-code")" Text="Copy Code" ShowText="true" />

@code {
    private string modelId = $"{Guid.NewGuid()}";

    [Parameter] public DatabaseTable? Model { get; set; }
}
